name: Build

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-2025

    env:
      Solution_Name: Whiskers

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup .NET SDK 9
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '9'

    - name: Get version
      uses: kzrnm/get-net-sdk-project-versions-action@v3
      id: get-version
      with:
        proj-path: Whiskers/Whiskers.csproj

    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
        format: X
        utcOffset: "-08:00"

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: dotnet build -c Release

    - name: Update repository
      shell: bash
      run: |
        VERSION="${{ steps.get-version.outputs.version }}"
        TIME="${{ steps.current-time.outputs.formattedTime }}"
        sed -i "s/\"AssemblyVersion\": \".*\"/\"AssemblyVersion\": \"$VERSION\"/g" ./data/pluginmaster.json
        sed -i "s/\"LastUpdate\": \".*\"/\"LastUpdate\": \"$TIME\"/g" ./data/pluginmaster.json
        sed -i "s|\"DownloadLinkInstall\": \".*\"|\"DownloadLinkInstall\": \"https://github.com/Meowchestra/Whiskers/releases/download/$VERSION/latest.zip\"|g" ./data/pluginmaster.json
        sed -i "s|\"DownloadLinkTesting\": \".*\"|\"DownloadLinkTesting\": \"https://github.com/Meowchestra/Whiskers/releases/download/$VERSION/latest.zip\"|g" ./data/pluginmaster.json
        sed -i "s|\"DownloadLinkUpdate\": \".*\"|\"DownloadLinkUpdate\": \"https://github.com/Meowchestra/Whiskers/releases/download/$VERSION/latest.zip\"|g" ./data/pluginmaster.json

    - name: Create and upload release
      id: create-new-release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.get-version.outputs.version }}
        name: Release ${{ steps.get-version.outputs.version }}
        body: |
          ${{ steps.Changelog.outputs.changelog }}
        draft: false
        prerelease: false
        files: ./Whiskers/bin/x64/Release/Whiskers/latest.zip

    - name: Commit latest build
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: "Update Build"
        file_pattern: "./data/*.json"
